<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='stylesheets/bootstrap.min.css' />
    <title><%= title %></title>
</head>
<body>
<nav class="navbar navbar-light navbar-expand-lg">
    <ul class="navbar-nav">
       <a class="navbar-brand" href="/">COMP2106 Car Tracker</a>
        <li class="nav-item"><a href="/about">About</a></li>
        <li class="nav-item"><a href="/contact">Contact</a></li>
    </ul>
</nav>